@model PhotoByIdDTO

<div class="container">
    <div class="row mt-4">
        <div class="col-12 col-md-6 col-lg-8">
        <div class="photo-container">
            <img src="~/images/@(PhotoSize.Small.ToString() + "_" + Model?.Photo?.FileName)"/>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-3">
        <form asp-controller="Order" asp-action="OrderInfo" method="GET" enctype="multipart/form-data">

                <input type="hidden" asp-for="Photo.Id" />
                <input type="hidden" asp-for="Photo.FileData" />
                <input type="hidden" asp-for="Photo.FileName" />
                <input type="hidden" asp-for="Photo.FileType" />
                <input type="hidden" asp-for="Photo.Name" />
                <input type="hidden" asp-for="Photo.IsFree" />

            <div class="row title-row">
                <div class="mt-4">    
                    <h4>@Model?.Photo?.Name</h4>
                    <hr />
                </div>
            </div>
            <div class="row size-row mt-3">
                <div class="form-group">
                    <label asp-for="PhotoSize"></label>
                    <select asp-for="PhotoSize" class="form-control" asp-items="Html.GetEnumSelectList<PhotoSize>()"></select>
                    @if (!Model.Photo.IsFree)
                    {
                        <span class="text-secondary"><i>*Price will vary based on the size</i></span>
                    }
                </div>
            </div>
              @if (Model.Photo.IsFree)
                {
                    <div class="row cto-row">
                        <button type="submit" class="btn btn-primary mt-3"><b>Download Free</b></button>
                    </div>
                }

                else
                {
                        <div class="row price-row">
                            <input type="hidden" asp-for="Photo.Price"/>
                            <h2><span id="price-text"></span> BGN</h2>
                        </div>

                            <div class="row cto-row">
                            <button type="submit" class="btn btn-primary mt-3"><b>Download</b></button>
                        </div>
                }
        </form>
    </div>
</div>
<div class="row">
    <div class="mt-4">    
        <p>@Model?.Photo?.Description</p>
    </div>
</div>
</div>

<style>
    .info-container{
        background: #fafafa;
        padding: 10px 20px;
        border-radius: 10px;
    }
</style>

<script>

    $(document).ready(function(){

        //calculate price on page load
        calculatePrice();

        //calculate price when different size is selected
        $("#PhotoSize").change(function(){
            calculatePrice();
        });
    });

    function calculatePrice(){
        let priceInt = @(Model.Photo.Price.ToString().Split(',')[0]);
        let priceDecimal = @(Model.Photo.Price.ToString().Split(',')[1]);
        let priceCalculated = $("#price-text");
        let price = $("#Photo_Price");
        let priceValue = priceInt + ',' + priceDecimal;
        let size = $("#PhotoSize").find(":selected");
        switch (size.val()) {
            case "@((int)PhotoSize.Small)": {
                price.val((parseInt(priceValue) - (parseInt(priceValue) * 0.8)).toFixed(2));
                priceCalculated.html(price.val());
                break;
            }
            case "@((int)PhotoSize.Medium)": {
                price.val((parseInt(priceValue) - (parseInt(priceValue) * 0.5)).toFixed(2));
                priceCalculated.html(price.val());
                break;
            }
            case "@((int)PhotoSize.Large)": {
                price.val((parseInt(priceValue) - (parseInt(priceValue) * 0.2)).toFixed(2));
                priceCalculated.html(price.val());
                break;
            }
            default: {
                price.val(priceValue);
                priceCalculated.html(price.val());
                break;
            }
        }
    }

</script>