@model PhotoByIdDTO

<div class="container">
    <div class="row">
        @if (User.IsInRole("Administrator"))
        {
            <div class="col-12 col-md-6 col-lg-2">
                <form asp-controller="Photo" asp-action="ChangeDownloadPermissions" method="POST">
                    <input type="hidden" asp-for="Photo.Id" />
                    <button type="submit" class="btn btn-warning text-white">@(Model.Photo.IsDownloadable ? "Non-downloadble" : "Downloadable")</button>
               </form>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <form asp-controller="Photo" asp-action="Delete" method="POST">
                    <input type="hidden" asp-for="Photo.Id" />
                    <input type="hidden" asp-for="Photo.Name" />
                    <button type="submit" class="btn btn-danger text-white">Delete</button>
                </form>
            </div>
        }
    </div>
    <form asp-controller="Order" asp-action="OrderInfo" method="GET" enctype="multipart/form-data">
        <input type="hidden" asp-for="Photo.Id" />
        <input type="hidden" asp-for="Photo.FileData" />
        <input type="hidden" asp-for="Photo.FileName" />
        <input type="hidden" asp-for="Photo.FileType" />
        <input type="hidden" asp-for="Photo.Name" />
        <input type="hidden" asp-for="Photo.IsFree" />

        <div class="row mt-2">
            <div class="col-12 col-md-6">
                <h4>@Model?.Photo?.Name</h4>
            </div>
            <div class="col-12 col-md-6 text-end">

                @if(Model.Photo.IsDownloadable)
                {
                    <label asp-for="PhotoSize"></label>
                    <select asp-for="PhotoSize" asp-items="Html.GetEnumSelectList<PhotoSize>()"></select>
                        
                    @if (Model.Photo.IsFree)
                    {
                        <button class="download-btn" type="submit"><i class="fa-solid fa-download"></i></button>
                    }

                    else
                    {
                        <input type="hidden" asp-for="Photo.Price" />
                        <h2><span id="price-text"></span> BGN</h2>

                        <button class="download-btn" type="submit"><b><i class="fa-solid fa-download"></i></b></button>
                        
                    }
                }
            </div>
        </div>
        <hr />
        
        <div class="row">
            <div class="col-12">
                <div class="photo">
                    <img src="~/images/@(PhotoSize.Small.ToString() + "_" + Model?.Photo?.FileName)"/>
                </div>
            </div>
            
        </div>
    </form>
    <div class="row mt-4">
        <hr />
        <div class="col-12 col-md-6 mt-3">
            <h6>Description</h6>
            <p>@Model?.Photo?.Description</p>
        </div>
        <div class="col-12 col-md-6 mt-3">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h6>Featured In</h6>
            
                    @foreach (PhotoCategory photoCategory in Model.Photo.PhotoCategories)
                    {
                        <a asp-controller="Photo" asp-action="AllByCategory" asp-route-category="@photoCategory.Category">@photoCategory.Category</a>
                    }
                </div>
                <div class="col-12 col-md-6">
                    <h6>Tags</h6>

                    @foreach (Tag tag in Model.Photo.Tags)
                    {
                        <a asp-controller="Photo" asp-action="AllByTag" asp-route-tag="@tag.Text">#@tag.Text</a>
                    }
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 col-md-6">
                    <h6>Location</h6>
                    <p><i class="fa-solid fa-location-dot"></i> @Model.Photo.GeoLocation</p>
                </div>
                <div class="col-12 col-md-6">
                    <h6>Gear</h6>
                    <p>@Model?.Photo?.Gear?.CameraBrand @Model?.Photo?.Gear?.CameraModel, @Model?.Photo?.Gear?.CameraLens, @Model?.Photo?.Gear?.AdditionalInformation</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .download-btn{
        padding: 5px 10px;
        border: none;
        border-radius: 10px;
        background: #123456;
        color: #fff;
    }
    select{
        padding: 5px;
        border-radius: 10px;
    }

    .photo img{
        max-height: 100%;
        max-width: 100%;
    }

    .info-container{
        background: #fafafa;
        padding: 10px 20px;
        border-radius: 10px;
    }
</style>

<script>

    $(document).ready(function(){

        //calculate price on page load
        calculatePrice();

        //calculate price when different size is selected
        $("#PhotoSize").change(function(){
            calculatePrice();
        });
    });

    function calculatePrice(){
        let priceInt = @(Model.Photo.Price.ToString().Split(',')[0]);
        let priceDecimal = @(Model.Photo.Price.ToString().Split(',')[1]);
        let priceCalculated = $("#price-text");
        let price = $("#Photo_Price");
        let priceValue = priceInt + ',' + priceDecimal;
        let size = $("#PhotoSize").find(":selected");
        switch (size.val()) {
            case "@((int)PhotoSize.Small)": {
                price.val((parseInt(priceValue) - (parseInt(priceValue) * 0.8)).toFixed(2));
                priceCalculated.html(price.val());
                break;
            }
            case "@((int)PhotoSize.Medium)": {
                price.val((parseInt(priceValue) - (parseInt(priceValue) * 0.5)).toFixed(2));
                priceCalculated.html(price.val());
                break;
            }
            case "@((int)PhotoSize.Large)": {
                price.val((parseInt(priceValue) - (parseInt(priceValue) * 0.2)).toFixed(2));
                priceCalculated.html(price.val());
                break;
            }
            default: {
                price.val(priceValue);
                priceCalculated.html(price.val());
                break;
            }
        }
    }

</script>