@model List<MyPhotoShootsDTO>

<div class="container">
    <div class="row">
        <div class="col-12">

            @if(Model.Count == 0)
            {
                <h4 class="mt-5 text-center">Your reservations will apear here</h4>
            }

            else
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Тип</th>
                            <th>Създаден на</th>
                            <th>Резервиран за</th>
                            @if (User.IsInRole("Administrator"))
                            {
                                <th>Действия</th>
                            }
                        </tr>
                    </thead>

                    @foreach (MyPhotoShootsDTO dto in Model)
                    {
                        <tr class="clickable" id="@dto.Id">
                            <td>@dto.ReservationDate</td>
                            <td>@dto.PhotoShootType</td>
                            <td>@dto.CreatedOn</td>
                            <td>@dto.ReservationFor</td>
                            @if (User.IsInRole("Administrator"))
                            {
                                <td><a asp-action="UpdateFiles" asp-route-id="@dto.Id" class="btn btn-secondary">Update</a></td>
                            }
                        </tr>
                    }

                </table>
            }
            
        </div>
    </div>
</div>

<style>
    tr:hover{
        cursor: pointer;
    }
</style>

<script>
    $(document).ready(function(){
        let scheme = "@Context.Request.Scheme";
        let host = "@Context.Request.Host";
        let path = "/PhotoShoot/PhotoShootById"
        let id = 0;

        $("tr").mouseover(function () {
            id = this.id;
        });
        
        $(".clickable").click(function (){
            window.location = scheme + "://" + host + path + '/' + id;
        });
    });
</script>
