@model PhotoShoot

<div class="container">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mx-auto text-center">
            <h1>Фотосесия #@Model.Id</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12 mx-auto mt-5">
            <h4 class="mx-auto text-center">Детайли</h4>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>Модел</th>
                        <th>Дата</th>
                        <th>Тип</th>
                        <th>Създаден на</th>
                        <th>Цена</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.PersonFullName</td>
                        <td>@Model.ReservationDate</td>
                        <td>@Model.PhotoShootType</td>
                        <td>@Model.CreatedOn</td>
                        <td>@Model.Price лв</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        @if (Model.PhotoShootPhotos.Count == 0)
        {
            <p class="text-center"><i>Снимките Ви ще се покажат скоро тук :)</i></p>
        }



        else
        {

            <h2 class="text-center mb-3">Photos</h2>
            
            foreach(PhotoShootPhoto photo in Model.PhotoShootPhotos)
            {
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/resources/@(photo.FilePath + '/' + photo.FileName)">
                        </div>
                        <div class="card-footer">
                            <form asp-action="DownloadPhotoShootPhoto" asp-controller="Download">
                                <input type="hidden" asp-for="@photo.FileName">
                                <input type="hidden" asp-for="@photo.FileType">
                                <input type="hidden" asp-for="@photo.FilePath">

                                <button type="submit" class="btn btn-primary">Download</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
                
        }

    </div>
</div>

<style>
    .card{
        min-height: 300px;
    }
</style>
