@model IEnumerable<PhotoShoot>

@{
    ViewData["Title"] = "Фотосесии";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-stripe">
                <thead>
                    <tr>
                        <th>Управление</th>
                        <th>Id</th>
                        <th>Статус</th>
                        <th>Модел</th>
                        <th>Място</th>
                        <th>Дата</th>
                        <th>Създаден</th>
                        <th>Създаден от</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(PhotoShoot photoShoot in Model)
                    {
                        <a asp-controller="PhotoShoot" asp-action="PhotoShootById" asp-route-id="@photoShoot.Id">
                            <tr>
                                <td><a asp-controller="Administration" asp-action="ManagePhotoshoot" asp-route-id="@photoShoot.Id" class="btn btn-primary btn-sm">Управление</a></td>
                                <td>@photoShoot.Id</td>
                                <td>@photoShoot.Status</td>
                                <td>@photoShoot.PersonFullName</td>
                                <td>@photoShoot.UserPlace</td>
                                <td>@photoShoot.ReservationDate.ToString("dd.MM.yyyy")</td>
                                <td>@photoShoot.CreatedOn.ToString("dd.MM.yyyy")</td>
                                <td>@photoShoot.IdentityUser?.Email</td>
                            </tr>
                        </a>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
